.h1-txt::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.h1-txt:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.h1-txt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #40e0d0;
    z-index: -1;
    transition: transform .3s ease;
}

.h1-txt {
    position: relative;
    animation: highlight-text 5s ease infinite;
}

@keyframes highlight-text {
    0%, 100% {
        background-color: #40e0d0;
    }
    50% {
        background-color: transparent;
    }
}
