.h1-txt::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.h1-txt:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.h1-txt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #40e0d0;
    z-index: -1;
    transition: transform .3s ease;
}

.h1-txt {
    position: relative;
}


.pop-outin {
    animation: 8s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
    0% {
        color: black;
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    25% {
        color: #e04050;
        transform: scale(1);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
        color: #40e0d0;
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        /* animate nothing to add pause at the end of animation */
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
}
