img {
    /* This inherits all CSS values including `overflow` */
    all: inherit;
}

/* HIGHLIGHT */
.wiggle-wiggle {
    animation: wiggle 2s linear infinite;
    transform-origin: 10% 5em;
}

.h1-txt::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.h1-txt:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.h1-txt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #63AEBB;
    z-index: -1;
    transition: transform .3s ease;
}

.h1-txt {
    position: relative;
    animation: highlight-text 5s ease infinite;
}

@keyframes highlight-text {
    0%, 100% {
        background-color: #63AEBB;
    }
    50% {
        background-color: transparent;
        opacity: 0.5;
    }
}


/* WIGGLE */
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}
