@use 'vuetify' with ($body-font-family: 'Ubuntu')

html
  font-size: 70%
  @media only screen and (min-width: 300px)
    font-size: 80%
  @media only screen and (min-width: 400px)
    font-size: 80%
  @media only screen and (min-width: 600px)
    font-size: 85%
  @media only screen and (min-width: 1000px)
    font-size: 95%
  @media only screen and (min-width: 1200px)
    font-size: 100%

@import fonts
